/*heading font*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
/*p font*/
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

#bodyimg {
    max-width: 500px;
}

body {
    margin-top: 0;
    background-color: #fffded;
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    color: #fffded;
    align-self: center;
    background-color: #000f08;
    width: 100%;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fffded;
    padding: 25px;
    justify-self: center;
}

nav a:hover {
     color: #688b58;
     background-color: #fffded;
}

.banner {
    text-align: center;
    background-image: url(images/escaperoom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    font-size: 1.2em;
    color: white;
    text-shadow: 
        -1.4px -1.4px 0 #7a306c,  
        1.4px -1.4px 0 #7a306c,
        -1.4px  1.4px 0 #7a306c,
        1.4px  1.4px 0 #7a306c; 
    padding: 30px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: #688b58;
}

footer a {
    text-decoration: none;
    color: #000f08;
    padding: 25px;
    justify-self: center;
}

footer a:hover {
     color: #fffded;
     background-color: #7a306c;
}

footer h3 {
    justify-self: center;
    color: #fffded;
}

h1, h3 {
    font-family: bungee;
}

p, a {
    font-family: rokkitt;
}

#room {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

#room img {
    justify-self: center;
}

p {
    justify-self: left;
}

h3 {
    margin-top: 0;
}

.show {
    width: 350px;
    height: 200px;
    object-fit: cover
}